[Desktop Entry]
Name=System Install
GenericName=System Install
Comment=System Install
Exec=/usr/share/ainst/ainst
WMClass=ainst
Icon=/usr/share/ainst/data/flutter_assets/assets/logo.png
Type=Application
